<section data-language-id="<%= 0 %>">
  <div class="list-container">
    <%=
      render(
          partial: 'shared/admin/list_with_priority',
          locals: {
              collection: FeaturedPost.ordered_by_priority
          }
      )
    %>
  </div>
</section>
