@import "comunit/base/default";
@import "comunit/base/components/posts/my-form";
@import "comunit/base/components/posts/preview";
@import "comunit/base/components/posts/featured";
@import "comunit/base/components/posts/list";
@import "comunit/base/components/posts/item";
@import "comunit/base/components/posts/archive";

.post-counters {
  align-items: center;
  color: #656565;
  display: flex;
  font-size: var(--font-size-small);
  justify-content: flex-end;

  span {
    margin: var(--spacer-xxxs);
  }

  .views {
    background: image_url('comunit/base/icons/view.svg') no-repeat left center / 1.2rem auto;
    padding-left: 1.6rem;
  }

  .comments {
    background: image_url('comunit/base/icons/comment.svg') no-repeat left center / 1.2rem auto;
    padding-left: 1.6rem;
  }
}
