<h4><%= t('.heading') %></h4>

<div class="js-grouping-container">
  <%=
    render(
        partial: 'admin/components/user_settings/regions/linked_regions',
        locals: {
            collection: RegionUser.owned_by(handler.user).recent,
            handler: handler
        }
    )
  %>

  <%=
    render(
        partial: 'admin/components/user_settings/regions/new_link',
        locals: {
            handler: handler
        }
    )
  %>
</div>
