<div class="toggleable" data-url="<%= toggle_admin_event_path(id: entity.id) %>">
  <% Event.toggleable_attributes.each do |flag| %>
  <span class="<%= entity.attributes[flag.to_s] ? 'active' : 'inactive' %>" data-flag="<%= flag %>">
    <%= t("activerecord.attributes.event.#{flag}") %>
  </span>
  <% end %>
</div>
