<% content_for :meta_title, t('.title') %>
<% content_for :hide_sidebar, '1' %>
<% content_for :secondary_navigation, '1' %>
<% content_for :selected_item, 'entries' %>

<article class="entry-form">
  <h1><%= t('.title') %></h1>

  <%#= render partial: 'form', locals: { entity: @entity } %>
</article>
