<% content_for :meta_title, t('.title') %>
<% content_for :hide_sidebar, '1' %>

<article class="entry-form">
  <h1><%= t('.title') %></h1>

  <%= render partial: 'form', locals: { entity: @entity } %>
</article>
