// Toggleable flags statuses
$toggleable_active: #34c749;
$toggleable_inactive: #fc605c;
$toggleable_switch: #fdbc40;
$toggleable_unknown: #c0c0c0;
$toggleable_background: #ffffff;

.toggleable {
  font-size: $small_font_size;
  margin: 0.8rem;

  > span {
    background-color: $toggleable_background;
    border: solid 0.1rem;
    border-radius: 0.8rem;
    cursor: pointer;
    display: inline-block;
    line-height: calc(#{$small_font_size} * 2);
    margin: 0.4rem;
    padding: 0 0.8rem 0 0;

    &::before {
      border-radius: 0.6rem 0 0 0.6rem;
      display: inline-block;
      line-height: calc(#{$small_font_size} * 2);
      margin: 0 0.4rem 0 0;
      text-align: center;
      width: 2.2rem;
    }
  }

  .active {
    border-color: $toggleable_active;

    &::before {
      background-color: $toggleable_active;
      content: '\2611';
    }
  }

  .inactive {
    border-color: $toggleable_inactive;

    &::before {
      background-color: $toggleable_inactive;
      content: '\2610';
    }
  }

  .switch {
    border-color: $toggleable_switch;
    cursor: not-allowed;

    &::before {
      background-color: $toggleable_switch;
      content: '\231B';
    }
  }

  .unknown {
    border-color: $toggleable_unknown;

    &::before {
      background-color: $toggleable_unknown;
      content: '\26A0';
    }
  }
}

button.destroy {
  background: #fff7f7;
  border: solid #800000 0.1rem;
  font-size: $small_font_size;
  line-height: $normal_font_size;
}

article.entity-page {
  position: relative;

  > section {
    border-top: solid $secondary_text_color 0.1rem;
    padding: 0.8rem 0 0 0;

    > h2 {
      font-size: $increased_font_size;
    }
  }

  table {
    border-spacing: 0;
    margin: 1.6rem;

    tbody {
      tr:nth-of-type(even) {
        background: $row_background_even;
      }

      tr:nth-of-type(odd) {
        background: $row_background_odd;
      }

      th {
        padding: 0.4rem 0.8rem;
        text-align: right;
      }

      td {
        padding: 0.4rem 0.8rem;

        &[colspan]:first-letter {
          text-transform: capitalize;
        }

        figure {
          text-align: center;
        }
      }
    }
  }

  form {
    table {
      figure {
        margin: 0;
        padding: 0;
        text-align: center;

        img {
          max-height: 32rem;
          max-width: 32rem;
        }
      }

      th {
        font-weight: normal;
        line-height: 2.8rem;
        text-align: right;
        vertical-align: top;

        &[colspan] {
          border-top: solid $secondary_text_color 0.1rem;
          font-weight: bold;
          padding-top: 1.6rem;
          text-align: center;
        }
      }

      input[type=text]:not([size]), input[type=url], textarea {
        width: calc(100% - 1rem);
      }

      td.sparse {
        > div {
          margin-bottom: .8rem;

          &:last-of-type {
            margin-bottom: inherit;
          }
        }
      }

      td[colspan].preview {
        margin: 0 auto;
        text-align: center;
        width: 32rem;

        img {
          max-height: 32rem;
          max-width: 32rem;
        }
      }

      tfoot {
        tr {
          td {
            padding: 0.8rem 0;
            text-align: center;
          }
        }
      }

      .flags {
        text-align: left;

        ul {
          margin: 0;
          padding: 0;

          > li {
            list-style: none;
            margin: 0;
            padding: 0;

            label {
              font-weight: normal;
            }
          }
        }
      }

      .tree {
        text-align: left;

        > ul {
          margin: 0;
          padding: 0;

          li {
            list-style: none;
            margin: 0;
            padding: 0;

            label {
              font-weight: normal;
            }

            ul {
              margin: 0 0 0 2rem;
              padding: 0;
            }
          }
        }
      }

      p.notice {
        color: $secondary_text_color;
        font-size: $decreased_font_size;
        margin: 0;

        &::before {
          content: '\261E';
          margin-right: 0.4rem;
        }
      }
    }
  }
}

ul.actions {
  align-items: center;
  background: #ffffff;
  border-radius: 0.4rem;
  box-shadow: 0 0 0.2rem 0.2rem rgba(0, 0, 0, 0.25);
  display: flex;
  justify-content: flex-end;
  margin: 0;
  opacity: 0.5;
  padding: 0;
  position: absolute;
  right: 0.4rem;
  top: 0.4rem;
  transition: 0.25s;

  &:hover {
    opacity: 1;
  }

  > li {
    flex-basis: 1.6rem;
    height: 1.6rem;
    line-height: 1.6rem;
    list-style: none;
    margin: 0.4rem;

    &.danger {
      margin-left: 3.2rem;
    }

    &.priority-changer {
      align-items: center;
      display: flex;
      flex-basis: 3.6rem;
      justify-content: space-between;
    }

    > a, button {
      box-sizing: border-box;
      display: inline-block;
      font-size: 1.2rem;
      height: 1.6rem;
      line-height: 1.6rem;
      margin: 0;
      padding: 0;
      width: 1.6rem;
    }

    img {
      max-height: 1.6rem;
      max-width: 1.6rem;
    }
  }
}

.list-of-entities {
  margin: 1.6rem 0;
  padding: 0;

  > li {
    align-items: center;
    background: $row_background_odd;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0.8rem;

    &:nth-of-type(even) {
      background: $row_background_even;
    }

    &[data-number]::before {
      content: attr(data-number) ":";
      display: inline-block;
      margin: 0 0.8rem 0 0;
      text-align: right;
      width: 2.4rem;
    }

    .image {
      flex-basis: 8rem;
      margin: 0 0.8rem 0 0;
      text-align: center;

      img {
        max-height: 8rem;
        max-width: 8rem;
      }
    }

    .data {
      flex: 1;
      position: relative;

      .info {
        font-size: $small_font_size;
      }

      .secondary {
        color: $secondary_text_color;
      }

      .truncate {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }

      .compact {
        align-items: center;
        display: flex;
        flex-wrap: wrap;

        .toggleable, > span {
          margin: 0 0.8rem;
        }
      }

      .children {
        border-left: dotted 0.1rem;
        margin-left: 1.6rem;
      }
    }
  }
}

nav.admin-menu {
  box-shadow: 0 0 0.2rem 0.2rem rgba(0, 0, 0, 0.25);
  margin: 0.4rem;
  max-width: 32rem;

  ul {
    margin: 0;
    padding: 0;

    li {
      background: $row_background_odd;
      list-style: none;
      margin: 0;
      padding: 0.4rem;

      &:nth-last-of-type(even) {
        background: $row_background_even;
      }

      .lead {
        color: $secondary_text_color;
        font-size: $decreased_font_size;
      }
    }
  }
}

.dashboard {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  nav {
    box-shadow: $block-shadow;
    margin: 0.4rem;
    max-width: 32rem;

    ul {
      margin: 0;
      padding: 0;

      li {
        background: $row_background_odd;
        list-style: none;
        margin: 0;
        padding: 0.4rem;
        position: relative;

        &:nth-last-of-type(even) {
          background: $row_background_even;
        }

        .description {
          color: $secondary_text_color;
          font-size: $decreased_font_size;
        }
      }
    }
  }
}
