.js-biovision-carousel {
  position: relative;

  button {
    -webkit-backdrop-filter: blur(.1rem);
    backdrop-filter: blur(.1rem);
    background: rgba(255, 255, 255, .25) no-repeat center / 1.6rem 1.6rem;
    border: none;
    border-radius: 50%;
    box-shadow: 0 0 .4rem rgba(0, 0, 0, .25);
    content: '\A';
    cursor: pointer;
    height: var(--spacer-m, 3.2rem);
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    transition: .25s;
    width: var(--spacer-m, 3.2rem);
    z-index: 4;

    &:focus,
    &:hover {
      background-color: rgba(255, 255, 255, .75);
      box-shadow: 0 0 .4rem rgba(0, 0, 0, .75);
    }
  }

  .prev {
    background-image: image_url('biovision/base/icons/slider/arrow-left.svg');
    left: var(--spacer-xxs, .2rem);
  }

  .next {
    background-image: image_url('biovision/base/icons/slider/arrow-right.svg');
    right: var(--spacer-xxs, .2rem);
  }

  .carousel-container {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .carousel-item {
    flex: none;
    margin: 0;
    padding: 0;
    transition: .25s;
  }
}
