$font-family-main: "Arial", "Helvetica Neue", "Helvetica", sans-serif !default;
$font-family-heading: "Arial Narrow", "Arial", "Helvetica Neue", "Helvetica", sans-serif !default;

$background-html: #fff !default;
$background-body: #fff !default;

$main-header-bg: none !default;
$main-header-middle-bg: none !default;

$header-logo-size: 20rem !default;
$coat-of-arms-size: 10rem !default;

$content-width: 110rem !default;

$link-color: #0000ff !default;

// Navigation in main header
$header-nav-bg: #333 !default;
// Primary menu
$header-nav-primary-bg: inherit !default;
$header-nav-primary-color: #fff !default;
$header-nav-primary-shadow: .1rem .1rem #000 !default;
$header-nav-primary-active-bg: hsla(0, 0%, 0%, .25) !default;
$header-nav-primary-active-color: $header-nav-primary-color !default;
$header-nav-primary-active-shadow: $header-nav-primary-shadow !default;
// Secondary (drop-down) menu
$header-nav-secondary-bg: hsl(0, 0%, 50%) !default;
$header-nav-secondary-color: #fff !default;
$header-nav-secondary-shadow: .1rem .1rem #000 !default;
$header-nav-secondary-active-bg: hsla(0, 0%, 0%, .25) !default;
$header-nav-secondary-active-color: $header-nav-secondary-color !default;
$header-nav-secondary-active-shadow: $header-nav-secondary-shadow !default;

$section-header-bg: #aaf !default;
$section-header-color: #fff !default;

// Основное меню: полоска с выпадашками
$navigation-stripe-background: #333 !default;
$navigation-stripe-background-active: rgba(127, 127, 127, .6) !default;
$navigation-stripe-text: #fff !default;
$navigation-stripe-text-active: $navigation-stripe-text !default;
$navigation-stripe-text-shadow: .1rem .1rem 0 #000 !default;

// Основное меню: выпадашка первого уровня
$navigation-primary-background: #333 !default;
$navigation-primary-background-active: #222 !default;
$navigation-primary-text: #fff !default;
$navigation-primary-text-active: $navigation-primary-text !default;

// Основное меню: выпадашка второго уровня
$navigation-secondary-background: rgba(127, 127, 127, 0.6) !default;
$navigation-secondary-background-active: rgb(32, 32, 32) !default;
$navigation-secondary-text: #fff !default;
$navigation-secondary-text-active: $navigation-secondary-text !default;

// Полоса с заголовком типа «тема дня», «популярные сюжеты» и так далее
$heading-stripe-background: rgb(232, 232, 232) !default;
$heading-stripe-text-color: #000 !default;
$heading-stripe-text-shadow: .1rem .1rem 0 rgb(240, 240, 240) !default;

// Задний фон для списка новостей и самой новости
$news-background: #fff2cc !default;
$news-link-color: $link-color !default;

$category-background: #fff2cc linear-gradient(to top, #fff2cc, #fff9e5) !default;
$category-color: #fff !default;

$main-color-a: #fff2cc !default;

$transparent-block-background: rgba(255, 255, 255, .75) !default;

@mixin heading-stripe {
  background: $heading-stripe-background;
  color: $heading-stripe-text-color;
  display: block;
  font: 400 #{$font-size-increased}/1.5 $font-family-heading;
  padding: .2rem 1rem 0;
  text-shadow: $heading-stripe-text-shadow;
}
