$background-html: #fff !default;
$background-body: #fff !default;
$background-header: #fff !default;
$background-header-transparent: rgba(255, 255, 255, .5) !default;

$content-width-min: 98rem !default;

$font-size-smaller: 1rem;

$category-background: #fff2cc linear-gradient(to top, #fff2cc, #fff9e5) !default;

$news-main-bg: #fff2cc !default;

$heading-text-color: #880015 !default;

$heading_background: #333 !default;
$light_background_color: #ffeeaa !default;
$navigation_main_background: rgba(127, 127, 127, 0.6) !default;
$navigation_primary_background: #333 !default;
$navigation_secondary_background: rgba(127, 127, 127, 0.6) !default;
$block-shadow: 0 0 0.2rem 0.2rem rgba(0, 0, 0, 0.25) !default;
$transparent-block-background: rgba(255, 255, 255, .75) !default;

$header-background-transparent: rgba(142, 60, 46, .6125) !default;
$header-background-solid: rgba(142, 136, 63, 1) !default;
