$button-action-bg-a: #c77404;
$button-action-bg-b: #f59c0a;
$button-action-bg-c: #d0621e;
$button-action-bg-d: #f6943d;
$button-action-border-color-a: #8e3c2e;
$button-action-border-color-b: #8e3c2e;
$button-action-text-color-a: #fff;
$button-action-text-color-b: #fff;

$button-nav-bg-a: #fff;
$button-nav-bg-b: #fafafa;
$button-nav-bg-c: #d0621e;
$button-nav-bg-d: #f6943d;
$button-nav-border-color-a: #ed7f33;
$button-nav-border-color-b: #ed7f33;
$button-nav-text-color-a: #f6943d;
$button-nav-text-color-b: #fff;

$button-create-bg-a: #68a54b;
$button-create-bg-b: #74ad5a;
$button-create-bg-c: #5ba337;
$button-create-bg-d: #59ab33;
$button-create-border-color-a: #3b6e22;
$button-create-border-color-b: #3b6e22;
$button-create-text-color-a: #fff;
$button-create-text-color-b: #fff;

$button-destroy-bg-a: #a54b68;
$button-destroy-bg-b: #ad5a74;
$button-destroy-bg-c: #a3375b;
$button-destroy-bg-d: #ab3359;
$button-destroy-border-color-a: #6e223b;
$button-destroy-border-color-b: #6e223b;
$button-destroy-text-color-a: #fff;
$button-destroy-text-color-b: #fff;

$primary_text_color: #000;
$secondary_text_color: #777;

// Zebra for lists
$row_background_even: #f0f0f0;
$row_background_odd: #fafafa;

$navigation-primary-bg: #ffcc33;
$navigation-primary-bg-active: #ffeeaa;
$navigation-primary-color: #880015;
$navigation-secondary-bg: rgba(127, 127, 127, 0.2);

$category-background: #fff2cc linear-gradient(to top, #fff2cc, #fff9e5);

$news-main-bg: #fff2cc;

$heading-text-color: #880015;

$heading_background: #333;
$light_background_color: #ffeeaa;
$navigation_main_background: rgba(127, 127, 127, 0.6);
$navigation_primary_background: #333;
$navigation_secondary_background: rgba(127, 127, 127, 0.6);
$block-shadow: 0 0 0.2rem 0.2rem rgba(0, 0, 0, 0.25);
$transparent-block-background: rgba(255, 255, 255, .75);
$link-color: #000;
$link-visited-color: #222;

$header-background-transparent: rgba(142, 60, 46, .6125);
$header-background-solid: rgba(142, 136, 63, 1);
