$font-family-heading: $font-family-main !default;

$background-html: #fff !default;
$background-body: #fff !default;
$background-header: #fff !default;
$background-header-transparent: rgba(255, 255, 255, .5) !default;

$content-width-min: 98rem !default;

// Основное меню: полоска с выпадашками
$navigation-stripe-background: #333 !default;
$navigation-stripe-background-active: rgba(127, 127, 127, .6) !default;
$navigation-stripe-text: #fff !default;
$navigation-stripe-text-active: $navigation-stripe-text !default;
$navigation-stripe-text-shadow: .1rem .1rem 0 #000 !default;

// Основное меню: выпадашка первого уровня
$navigation-primary-background: #333 !default;
$navigation-primary-background-active: #222 !default;
$navigation-primary-text: #fff !default;
$navigation-primary-text-active: $navigation-primary-text !default;

// Основное меню: выпадашка второго уровня
$navigation-secondary-background: rgba(127, 127, 127, 0.6) !default;
$navigation-secondary-background-active: rgb(32, 32, 32) !default;
$navigation-secondary-text: #fff !default;
$navigation-secondary-text-active: $navigation-secondary-text !default;

// Полоса с заголовком типа «тема дня», «популярные сюжеты» и так далее
$heading-stripe-background: rgb(232, 232, 232) !default;
$heading-stripe-text-color: #000 !default;
$heading-stripe-text-shadow: .1rem .1rem 0 rgb(240, 240, 240) !default;

// Задний фон для списка новостей и самой новости
$news-background: #fff2cc !default;
$news-link-color: $link-color !default;

$category-background: #fff2cc linear-gradient(to top, #fff2cc, #fff9e5) !default;

$transparent-block-background: rgba(255, 255, 255, .75) !default;

@mixin heading-stripe {
  background: $heading-stripe-background;
  color: $heading-stripe-text-color;
  display: block;
  font: 400 #{$font-size-increased}/1.5 $font-family-heading;
  padding: .2rem 1rem 0;
  text-shadow: $heading-stripe-text-shadow;
}
