html {
  background: $background-html;
  font: 10px $font-family-main;
  margin: 0;
  padding: 0;
  -webkit-text-size-adjust: none;
  -moz-text-size-adjust: none;
  -ms-text-size-adjust: none;
}

h1, h2, h3, h4, h6, h6 {
  color: $text-color-heading;
  font-family: $font-family-heading;
  font-weight: 500;
  margin: 0;
}

a:link,
a:visited {
  color: $link-color;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

figure {
  margin: 0;
}

img {
  max-width: 100%;
}

body {
  background: $background-body;
  border: none;
  border-radius: 0.4rem;
  box-shadow: $block-shadow;
  box-sizing: border-box;
  color: $text-color-primary;
  font-size: $font-size-normal;
  margin: 1.6rem auto;
  padding: .1rem;
  position: relative;
  min-width: $content-width-min;
  max-width: $content-width;

  > header {
    > div {
      background: $background-header;
      display: flex;
      flex-direction: column;
      height: 22rem;

      .authentication {
        align-content: stretch;
        display: flex;
        flex: 0 0 3rem;
        justify-content: flex-end;

        > :not(.plate) {
          a:link,
          a:visited {
            @include nav-button;
          }
        }

        > div {
          align-items: center;
          background: $background-header-transparent;
          border-radius: .4rem;
          display: flex;
          flex: 0;
          margin: 0 0 0 auto;

          a {
            margin: 0 .4rem;
            white-space: nowrap;
          }

          .notifications {
            text-decoration: none;

            &.read {
              opacity: .33;
            }
          }
        }
      }

      .central {
        align-content: stretch;
        display: flex;
        flex: 1;

        .logo {
          align-items: center;
          display: flex;
          margin-right: auto;
        }

        .header-content {
          flex: 1;
        }

        .arms {
          align-items: center;
          background: none;
          display: flex;
          flex: 0 0 12rem;
          justify-content: center;
          margin: .8rem 1.3rem;
          overflow: hidden;

          img {
            filter: drop-shadow(0 0 2rem $header-background-transparent) saturate(50%);
            opacity: .75;
            max-height: 100%;
            max-width: 100%;
          }
        }
      }

      .region-and-search {
        align-items: center;
        display: flex;
        flex: 0 0 3rem;
        padding: 0 1.6rem;

        form {
          align-items: center;
          display: flex;
          height: 4rem;
          margin: 0 0 0 auto;
          padding: 0 .4rem;

          > div {
            input[type=text] {
              background: #fff image_url('comunit/base/icons/search.svg') no-repeat center right / 2.4rem 2.4rem;
              border-radius: 1.4rem;
              box-sizing: border-box;
              box-shadow: 0 0 .5rem .5rem rgba(255, 255, 255, .5);
              display: inline-block;
              font-size: $font-size-normal;
              height: 2.8rem;
              line-height: 2.4rem;
              margin: 0 .4rem;
              opacity: .85;
              transition: .125s;
              width: 2.8rem;

              &:hover {
                opacity: 1;
              }

              &:focus,
              &:valid {
                border-radius: 0;
                box-shadow: none;
                opacity: 1;
                padding: 0 2.6rem 0 0;
                width: calc(25ch + 2.6rem);
              }
            }
          }
        }
      }
    }
  }

  > footer {
    .bottom {
      color: $text-color-secondary;
      display: flex;
      font-size: $font-size-decreased;
      justify-content: space-between;
      padding: 0.4rem 0.8rem;
    }
  }
}

#current-region-selector {
  align-items: center;
  display: flex;
  height: 4rem;
  justify-content: flex-end;
  margin: 0 auto 0 0;
  padding: 0 .4rem;

  label {
    margin: 0 .4rem 0 0;
  }

  select {
    font-size: $font-size-normal;
  }

  > div {
    align-items: center;
    background: $transparent-block-background;
    border-radius: .4rem 0 0 .4rem;
    display: flex;
    padding: .8rem;
  }
}

#main {
  padding: 2.3rem 0;
  display: flex;
  justify-content: space-between;

  .no-sidebar {
    max-width: 100%;
  }

  .with-sidebar {
    max-width: 70.5rem;
  }

  .content {
    flex: 8;

    > .breadcrumbs {
      @include heading;
      background: $heading_background;
      text-transform: uppercase;
      margin: 0 0 20px 0;

      a:link, a:visited {
        color: #ffffff;
        text-decoration: none;
      }
    }

    article {
      position: relative;
      padding: 0.8rem;
    }
  }
}

.authentication {
  border-radius: 0.4rem 0 0 0.4rem;

  .plate {
    width: 100%;

    .current_user {
      font-size: $font-size-small;
      line-height: 2.4rem;

      .button {
        @include nav-button;
      }
    }
  }

  form {
    margin: 1.2rem;
    max-width: 22rem;
    padding: 0;
    font-size: $font-size-decreased;

    .fields {
      flex: 1;

      > div {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
    }

    .actions {
      margin: 0.4rem 0 0 0;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;

      a {
        @include nav-button;
      }
    }
  }
}

form {
  .guideline {
    color: $text-color-secondary;
    font-size: $font-size-decreased;
    margin: 0;

    &::before {
      content: '\261E';
      margin-right: 0.4rem;
    }
  }
}

figure.preview {
  img {
    max-width: 40rem;
    max-height: 40rem;
  }
}

.hidden {
  display: none !important;
}

input.toggle-box {
  display: none;

  &:not(:checked) + div {
    display: none;
  }
}

#main-slider {
  h2 {
    @include heading;
    background: $heading_background;
  }

  .slider {
    padding: 0 .4rem;

    > input[type=radio] {
      display: none;

      &:not(:checked) + div {
        display: none;
      }
    }

    .container {
      align-items: stretch;
      align-content: stretch;
      display: flex;
      justify-content: space-between;

      label {
        align-items: center;
        cursor: pointer;
        display: flex;
        flex-basis: 2rem;
        color: #000;

        &:hover {
          color: $link-color;
        }
      }

      .slide {
        flex: 1;
        margin: 0 .4rem;

        .heading {
          align-items: center;
          background: $category-background;
          border-bottom: 1px dotted #919191;
          color: #958441;
          display: flex;
          flex-wrap: wrap;
          justify-content: space-between;
          margin-bottom: 5px;
          padding: 0 1rem;

          a {
            display: inline-block;
            font-size: 1.4rem;
            font-weight: bold;
            padding: .4rem 0;
            text-decoration: none;
            text-transform: uppercase;
          }

          time {
            color: #000;
            font-size: 1.1rem;
          }
        }

        .body {
          display: flex;
          flex-wrap: wrap;
          padding: .4rem;

          figure {
            margin: 0 .4rem .4rem 0;
            padding: 0;
            width: 24rem;

            img {
              max-width: 100%;
            }
          }

          p {
            flex: 1;
            margin: 0;
          }
        }

        .footer {
          align-items: center;
          display: flex;
          justify-content: space-between;
          padding: 0 1rem;
        }
      }
    }
  }
}

textarea {
  max-width: calc(100% - 1rem);
}
