@import "biovision/base/default";
@import "comunit/base/default";

ul.main-navigation {
  background: $navigation-stripe-background;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;

  &:not(:first-of-type) {
    margin-top: .4rem;
  }

  > li {
    line-height: 3.1rem;
    list-style: none;
    margin: 0;
    position: relative;
    white-space: nowrap;

    &:hover,
    &.selected {
      background: $navigation-stripe-background-active;

      > a:link,
      > a:visited,
      > span {
        color: $navigation-stripe-text-active;
      }
    }

    > a:link,
    > a:visited,
    > span {
      color: $navigation-stripe-text;
      font-weight: bold;
      font-size: $font-size-normal;
      text-decoration: none;
      padding: 0 0.9rem;
      text-shadow: $navigation-stripe-text-shadow;
    }

    > ul {
      display: none;
      position: absolute;
      margin: 0;
      padding: 2rem 0 0 0;
      min-width: 27rem;
      background: $navigation-primary-background;
      z-index: 3;
      top: 100%;

      li {
        list-style: none;
        margin: 0;
        padding: 0;
        border-bottom: .1rem dotted #767676;
        line-height: 2.2rem;
        height: 2.2rem;
        position: relative;

        a:link,
        a:visited {
          box-sizing: border-box;
          display: inline-block;
          font-weight: normal;
          min-width: 24rem;
          padding: 0 .9rem;
          text-decoration: none;
          text-shadow: none;
        }

        > a:link,
        > a:visited {
          color: $navigation-primary-text;
        }

        &.parent {
          background: image_url('comunit/base/icons/right-arrow.svg') no-repeat center right .4rem / 1.6rem 1.6rem;
        }

        > ul {
          position: absolute;
          display: none;
          left: 100%;
          top: 0;
          background: $navigation-secondary-background;

          li {
            > a:link,
            > a:visited {
              color: $navigation-secondary-text;
            }

            &:hover {
              background: $navigation-secondary-background-active;

              > a:link,
              > a:visited {
                color: $navigation-secondary-text-active;
              }
            }
          }
        }

        &:hover {
          background-color: $navigation-primary-background-active;

          > a:link,
          > a:visited {
            color: $navigation-primary-text-active;
          }

          ul {
            display: block;
            margin: 0;
            padding: 0;
          }
        }
      }
    }

    &:hover {
      > ul {
        display: block;
      }
    }
  }
}

body {
  > footer {
    ul.main-navigation {
      > li {
        > ul {
          top: auto;
          bottom: 100%;
          padding: 0 0 2rem 0;
        }
      }
    }
  }
}

@media screen and(min-width: 600px) {
  #main-header {
    label {
      display: none;
    }
  }
}

@media screen and(max-width: 599px) {
  #main-header {
    nav {
      position: absolute;
      left: 0;
      top: 0;
      width: 3.6rem;

      label {
        cursor: pointer;
        display: inline-block;
        height: 2.8rem;
        padding: .2rem .4rem;

        img {
          height: 100%;
        }
      }
    }
  }

  #top-nav-control {
    &:focus {
      + label {
        filter: drop-shadow(0 0 .8rem rgba(255, 255, 255, .75));
      }
    }

    &:not(:checked) {
      ~ ul {
        display: none;
      }
    }

    &:checked {
      ~ ul.main-navigation {
        box-shadow: .4rem .4rem .4rem rgba(0, 0, 0, .25);
        display: block;
        left: 0;
        top: 2.8rem;
        position: absolute;
        z-index: 10;

        > li {
          > ul {
            display: block;
            min-width: initial;
            padding: 0;
            position: initial;
            top: initial;

            li {
              a:link,
              a:visited {
                padding-left: 2rem;
              }

              > ul {
                left: 2rem;
                right: 0;
                top: 100%;
                z-index: 11;
              }
            }
          }
        }
      }
    }
  }
}
