ul.main-navigation {
  background: $navigation-stripe-background;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;

  &:not(:first-of-type) {
    margin-top: .4rem;
  }

  > li {
    line-height: 3.1rem;
    list-style: none;
    margin: 0;
    position: relative;
    white-space: nowrap;

    &:hover,
    &.selected {
      background: $navigation-stripe-background-active;

      > a:link,
      > a:visited,
      > span {
        color: $navigation-stripe-text-active;
      }
    }

    > a:link,
    > a:visited,
    > span {
      color: $navigation-stripe-text;
      font-weight: bold;
      font-size: $font-size-normal;
      text-decoration: none;
      padding: 0 0.9rem;
      text-shadow: $navigation-stripe-text-shadow;
    }

    > ul {
      display: none;
      position: absolute;
      margin: 0;
      padding: 2rem 0 0 0;
      min-width: 27rem;
      background: $navigation-primary-background;
      z-index: 3;
      top: 100%;

      li {
        list-style: none;
        margin: 0;
        padding: 0;
        border-bottom: .1rem dotted #767676;
        line-height: 2.2rem;
        height: 2.2rem;
        position: relative;

        a:link,
        a:visited {
          box-sizing: border-box;
          display: inline-block;
          font-weight: normal;
          min-width: 24rem;
          padding: 0 .9rem;
          text-decoration: none;
          text-shadow: none;
        }

        > a:link,
        > a:visited {
          color: $navigation-primary-text;
        }

        &.parent {
          background: image_url('comunit/base/icons/right-arrow.svg') no-repeat center right .4rem / 1.6rem 1.6rem;
        }

        > ul {
          position: absolute;
          display: none;
          left: 100%;
          top: 0;
          background: $navigation-secondary-background;

          li {
            > a:link,
            > a:visited {
              color: $navigation-secondary-text;
            }

            &:hover {
              background: $navigation-secondary-background-active;

              > a:link,
              > a:visited {
                color: $navigation-secondary-text-active;
              }
            }
          }
        }

        &:hover {
          background-color: $navigation-primary-background-active;

          > a:link,
          > a:visited {
            color: $navigation-primary-text-active;
          }

          ul {
            display: block;
            margin: 0;
            padding: 0;
          }
        }
      }
    }

    &:hover {
      > ul {
        display: block;
      }
    }
  }
}

body {
  > footer {
    ul.main-navigation {
      > li {
        > ul {
          top: auto;
          bottom: 100%;
          padding: 0 0 2rem 0;
        }
      }
    }
  }
}
