#sidebar {
  flex: 3 0;
  //max-width: 30rem;
  padding: 0 0 0 .8rem;

  > div {
    .heading {
      @include heading-stripe;
    }
  }

  .regions {
    img {
      max-width: 100%;
    }
  }

  .popular-list {
    input {
      display: none;

      & + div {
        > div {
          display: flex;
          font-size: $font-size-decreased;
          margin: 1.6rem 0;

          label {
            border-left: solid transparent .1rem;
            border-right: solid #000 .1rem;
            color: $link-color;
            padding: 0 .4rem;
            text-decoration: underline;

            span {
              color: #000;
              font-weight: bold;
            }

            &:hover {
              text-decoration: none;
            }

            &:last-of-type {
              border-right: none;
            }
          }
        }
      }

      &:not(:checked) + div {
        display: none;
      }
    }

    ol, ul {
      margin: .8rem 0;
      padding: 0;

      li {
        align-items: center;
        display: flex;
        list-style: none;
        padding: .4rem .4rem .4rem 0;

        &:nth-of-type(odd) {
          background: #f1f1f1;
        }
      }
    }

    ol {
      counter-reset: top-news-counter;

      li {
        font-size: $font-size-decreased;

        a {
          flex: 1;
        }

        &::before {
          content: counter(top-news-counter);
          counter-increment: top-news-counter;
          font-size: 3.2rem;
          font-style: italic;
          font-weight: bold;
          min-width: 6.4rem;
          text-align: center;
          width: 6.4rem;
        }
      }
    }

    ul {
      li {
        justify-content: space-between;

        .image {
          flex-basis: 6rem;
          margin: 0 .4rem;

          img {
            max-width: 100%;
          }
        }

        .post {
          flex: 1;
          font-size: $font-size-decreased;

          .header {
            align-items: center;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            margin-bottom: .4rem;

            .author {
              max-width: calc(100% - 6.2rem);
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: nowrap;
            }

            time {
              color: $text-color-secondary;
            }
          }
        }
      }
    }
  }
}

#sidebar-poll {
  ul {
    margin: .8rem 0;
    padding: 0;
  }

  li {
    list-style: none;
    margin: 0 0 .4rem 2rem;
    padding: 0;
  }

  .vote-count {
    color: $text-color-secondary;
    font-size: $font-size-decreased;
    margin-right: 2rem;
    text-align: right;
  }
}
