$font-size-xxxl: 5.6rem !default;
$font-size-xxl: 4.5rem !default;
$font-size-xl: 3.2rem !default;
$font-size-large: 2.4rem !default;
$font-size-increased: 1.8rem !default;
$font-size-normal: 1.6rem !default;
$font-size-decreased: 1.3rem !default;
$font-size-small: 1.1rem !default;
$font-size-xs: 1rem !default;

$spacer-xxs: .4rem !default;
$spacer-xs: .8rem !default;
$spacer-s: 1.6rem !default;
$spacer-m: 3.2rem !default;
$spacer-l: 4.8rem !default;
$spacer-xl: 6.4rem !default;
$spacer-xxl: 9.6rem !default;
