<div class="sidebar-calendar">
  <%
    date = Date.today - Date.today.mday + 1
    offset = (date.wday > 0) ? date.wday - 1 : 6
    date -= offset
  %>
  <table class="calendar">
    <caption><%= l Date.today, format: :long %></caption>
    <colgroup>
      <col/>
      <col/>
      <col/>
      <col/>
      <col/>
      <col/>
      <col/>
    </colgroup>
    <thead>
    <tr>
      <th>Пн</th>
      <th>Вт</th>
      <th>Ср</th>
      <th>Чт</th>
      <th>Пт</th>
      <th>Сб</th>
      <th>Вс</th>
    </tr>
    </thead>
    <tbody>
    <% 6.times do %>
      <% break if (date.mon == Date.today.mon + 1) || (date.year > Date.today.year) %>
      <tr>
        <% 7.times do %>
          <%
            if date == Date.today
              type = 'today'
            elsif date.mon == Date.today.mon
              type = ''
            else
              type = 'outer'
            end
          %>
          <td class="<%= type %>">
            <div>
              <%= date.mday %>
              <% date += 1 %>
            </div>
          </td>
        <% end %>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>
