<div id="sidebar-posts">
  <div class="heading">Блог</div>
  <% entries = Post.of_type(:blog_post).list_for_visitors.first(5) %>
  <% if entries.any? %>
      <div class="posts">
        <% entries.each do |entry| %>
            <div>
              <div class="title"><%= post_link(entry) %></div>
              <div class="info">
                <%= user_link(entry.user) %>
                <%= time_tag(entry.created_at) %>
              </div>
            </div>
        <% end %>
      </div>
  <% end %>
</div>
