<!doctype html>
<html>
<body>
<script>
    window.parent.CKEDITOR.tools.callFunction('<%= param_from_request(:CKEditorFuncNum) %>','<%= "#{ActionController::Base.asset_host}#{@illustration.image.medium.url}" %>');
</script>
</body>
</html>
