@import url('https://fonts.googleapis.com/css?family=PT+Sans:400,400i,700,700i&subset=cyrillic');

html {
  background: #fff; //image_url('bg-main.jpg') no-repeat fixed center / cover;
  font: 10px $main-font-family;
  margin: 0;
  padding: 0;
  -webkit-text-size-adjust: none;
  -moz-text-size-adjust: none;
  -ms-text-size-adjust: none;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

a:link, a:visited {
  color: #000;
}

body {
  background: #ffffff;
  border: none;
  border-radius: 0.4rem;
  box-shadow: $block-shadow;
  box-sizing: border-box;
  color: $primary_text_color;
  font-size: $normal_font_size;
  margin: 1.6rem auto;
  padding: .1rem;
  position: relative;
  width: $content-width;

  > header {
    > div {
      background: #fff; //image_url('header.jpg') no-repeat center / cover;

      .partials {
        .region {
          align-items: center;
          display: flex;
          justify-content: space-between;
          padding: 0 0 0 .5rem;

          > div {
            border-radius: .5rem;
            padding: 0 .5rem;

            > div {
              color: #fff;

              .text {
                font-size: 3rem;
                font-weight: bold;
                font-style: italic;
                margin-right: 2rem;
                text-transform: uppercase;
              }
            }
          }

          .arms {
            background: none;
            margin: .8rem 1.3rem;
            display: flex;
            justify-content: center;
            align-items: center;
            max-width: 10rem;
            height: 10rem;

            img {
              max-width: 100%;
              max-height: 100%;
              opacity: .75;
              filter: drop-shadow(0 0 2rem $header-background-transparent) saturate(50%);
            }
          }
        }
      }
    }
  }

  > footer {
    .bottom {
      display: flex;
      justify-content: space-between;
      font-size: $small_font_size;
      padding: 0.4rem 0.8rem;
    }
  }
}
