@import url('https://fonts.googleapis.com/css?family=PT+Sans:400,400i,700,700i&subset=cyrillic');

$navigation-primary-bg: #ffcc33;
$navigation-primary-bg-active: #ffeeaa;
$navigation-primary-color: #880015;
$navigation-secondary-bg: rgba(127, 127, 127, 0.2);

$category-background: #fff2cc linear-gradient(to top, #fff2cc, #fff9e5);

$news-main-bg: #fff2cc;

//$heading_background: #ffcc33;
$heading-text-color: #880015;

$heading_background: #333 no-repeat center / cover;
$light_background_color: #ffeeaa;
$navigation_main_background: rgba(127, 127, 127, 0.6);
$navigation_primary_background: #333 no-repeat center;
$navigation_secondary_background: rgba(127, 127, 127, 0.6);
$transparent-block-background: rgba(255, 255, 255, .75);

$header-background-transparent: rgba(142, 60, 46, .6125);
$header-background-solid: rgba(142, 136, 63, 1);
