<% content_for :meta_title, t('.title') %>

<%=
  render(
      partial: 'index/main_slider',
      locals: {
          collection: FeaturedPost.list_for_language(current_language)
      }
  )
%>

<div id="frontpage-posts">
  <%=
    render(
        partial: 'index/index/categories',
        locals: {
            categories: PostGroupCategory['homepage']
        }
    )
  %>
</div>
<%= render 'index/frontpage_posts/loader' %>
