<% content_for :meta_title, t('.title') %>

<%= render partial: 'index/main_post', locals: { post: Post.where(main_post: true).visible.recent.first } %>

<div id="frontpage-posts">
  <div class="posts">
    <%= render 'index/frontpage_posts/main_news' %>
  </div>
  <div class="posts">
    <%= render 'index/frontpage_posts/regional_news' %>
  </div>
</div>
