<li><%= render 'admin/posts/nav_item' %></li>
<% if handler.allow?('chief_editor') %>
  <li><%= render 'admin/post_groups/nav_item' %></li>
<!--  <li><%#= render 'admin/post_tags/nav_item' %></li>-->
<% end %>
<!--<li><%#= render 'admin/post_illustrations/nav_item' %></li>-->
<!--<li><%#= render 'admin/post_images/nav_item' %></li>-->
<% if handler.allow?('chief_editor') %>
<!--  <li><%#= render 'admin/editorial_members/nav_item' %></li>-->
<% end %>
