<%
  entity = f.object
  collection = Taxon.for_current_site.for_tree
%>
<% if collection.any? %>
  <div>
    <dt>Таксоны</dt>
    <dd>
      <ul>
        <% collection.each do |taxon| %>
          <li>
            <% element_id = "taxon_#{taxon.id}" %>
            <%=
              check_box_tag(
                  "taxon_ids[]",
                  taxon.id,
                  taxon.post?(entity),
                  id: element_id
              )
            %>
            <%= label_tag(element_id, taxon.name) %>
          </li>
        <% end %>
      </ul>
    </dd>
  </div>
<% end %>
