<% content_for :meta_title, @entity.name %>

<article class="entity-page">
  <h1><%= @entity.name %></h1>

  <ul class="actions">
    <li><%= return_icon(admin_event_path(id: @entity.id)) %></li>
  </ul>

  <%= simple_format(@entity.body) %>
</article>