<% if collection.any? %>
    <ul class="list-of-entities list-of-notifications">
      <% collection.each do |entity| %>
          <li class="<%= entity.read_by_user? ? '' : 'unread' %>">
            <%= render partial: 'my/notifications/entity/in_list', locals: { entity: entity } %>
          </li>
      <% end %>
    </ul>
<% else %>
    <%= render 'shared/nothing_found' %>
<% end %>
