<% content_for :meta_title, t('.title', page: current_page) %>
<% content_for :secondary_navigation, '1' %>

<article>
  <h1><%= t('.heading') %></h1>

  <%= paginate @collection %>
  <%= render partial: 'list', locals: { collection: @collection } %>
  <%= paginate @collection %>
</article>
