<%
  element_id = "post_group_taxon_#{taxon.id}"
  checked = taxon_ids.include?(taxon.id)
%>
<%=
  check_box_tag(
      element_id,
      '1',
      checked,
      data: {
          url: post_group_admin_taxon_path(id: taxon.id, post_group_id: post_group.id)
      }
  )
%>
<%= label_tag(element_id, taxon.name) %>
<% unless taxon.children_cache.blank? %>
  <% intersection = taxon_ids & taxon.children_cache %>
  <% if checked || !intersection.any? %>
    <%=
      button_tag(
          '+',
          class: 'js-taxon-loader',
          data: {
              url: children_admin_taxon_path(id: taxon.id, post_group_id: post_group.id),
              prefix: 'post_group'
          },
          type: :button
      )
    %>
  <% elsif intersection.any? %>
    <ul>
      <% taxon.child_items.list_for_administration.each do |child| %>
        <li>
          <%=
            render(
                partial: 'admin/post_groups/entity/taxonomy/taxon',
                locals: {
                    taxon: child,
                    post_group: post_group,
                    taxon_ids: taxon_ids
                }
            )
          %>
        </li>
      <% end %>
    </ul>
  <% end %>
<% end %>
