<% if collection.any? %>
  <section class="posts-linked">
    <div class="content-wrapper">
      <h2><%= t('.heading') %></h2>

      <%= render partial: 'posts/list', locals: { collection: collection } %>
    </div>
  </section>
<% end %>
