<% selected_item = content_for(:selected_item) %>
<% categories.each do |category| %>
    <% li_class = (category.parent_id.nil? || category.children.visible.blank?) ? '' : 'parent' %>
    <% li_class += ' selected' if selected_item == "pc#{category.id}" %>
    <li class="<%= li_class %>">
      <%= post_category_link category %>
      <% if category.children.any? %>
          <ul>
            <%= render partial: 'layouts/application/main_navigation/categories', locals: { categories: PostCategory.visible.for_tree(category.id) } %>
          </ul>
      <% end %>
    </li>
<% end %>
