<div class="frontpage-posts">
  <div class="heading">
    Главные новости
  </div>
  <% posts = Theme.where(slug: 'main-news').first&.entries(7, current_region) %>
  <% if posts.to_a.any? %>
      <div class="posts">
        <% posts.each do |post| %>
            <% next if post.category.blank? %>
            <%= render partial: 'index/frontpage_posts/preview', locals: { post: post } %>
        <% end %>
      </div>
  <% end %>
</div>
