<div class="frontpage-posts">
  <div class="heading">
    Главные новости
  </div>
  <div class="posts">
    <%= render partial: 'posts/list', locals: { collection: posts } %>
    <div class="load-more" data-url="<%= index_main_news_path(page: 2, region_slug: current_region.long_slug) %>">
      <%= button_tag 'Загрузить ещё', type: :button, class: 'button-action' %>
    </div>
  </div>
</div>
