<div class="frontpage-posts">
  <div class="heading">
    Главные новости
  </div>
  <div class="posts">
    <% if posts.to_a.any? %>
        <% posts.each do |post| %>
            <% next if post.category.blank? %>
            <%= render partial: 'index/frontpage_posts/preview', locals: { post: post } %>
        <% end %>
    <% end %>
    <div class="load-more" data-url="<%= index_main_news_path(page: 2) %>">
      <%= button_tag 'Загрузить ещё', type: :button %>
    </div>
  </div>
</div>
