<div class="frontpage-posts">
  <div class="heading">
    Видео
  </div>
  <div class="posts">
    <% group = PostGroup['video'] %>
    <% unless group.nil? %>
      <% posts = group.posts_page.first(2) %>
      <%= render partial: 'posts/list', locals: { collection: posts } %>
    <% end %>
  </div>
</div>
