<% group = PostGroup['video'] %>
<% unless group.nil? %>
  <div class="sidebar-posts">
    <h3>Видео</h3>
    <% posts = group.posts_page.first(2) %>
    <%= render partial: 'posts/list', locals: { collection: posts } %>
  </div>
<% end %>
