<div class="frontpage-posts">
  <div class="heading">
    Видео
  </div>
  <div class="posts">
    <% posts = Theme.where(slug: 'video').first&.entries(2) || [] %>
    <%= render partial: 'posts/list', locals: { collection: posts } %>
  </div>
</div>
