<div class="frontpage-posts">
  <div class="heading">
    Видео
  </div>
  <div class="posts">
    <% if Theme.table_exists? %>
      <% posts = Theme.where(slug: 'video').first&.entries(2) || [] %>
      <%= render partial: 'posts/list', locals: { collection: posts } %>
    <% end %>
  </div>
</div>
