<% content_for :meta_title, t('.title') %>

<article class="candidates-new">
  <header>
    <h1><%= t('.heading') %></h1>
  </header>

  <section>
    <%= render partial: 'candidates/form', locals: { entity: @entity } %>
  </section>
</article>