$background-header: #fff !default;
$background-header-transparent: rgba(255, 255, 255, .5) !default;

.main-header {
  position: relative;

  > div {
    background: $background-header;
    display: flex;
    flex-direction: column;
    //min-height: 22rem;

    .authentication {
      > div {
        align-items: center;
        border-radius: .4rem;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-end;
        margin: 0 0 0 auto;
        padding: .4rem;

        a {
          margin: 0 .4rem;
          white-space: nowrap;
        }

        .notifications {
          text-decoration: none;

          &.read {
            opacity: .33;
          }
        }

        img {
          border-radius: 50%;
          box-shadow: 0 0 .2rem #fff;
          max-height: 2.4rem;
          max-width: 2.4rem;
          vertical-align: middle;
        }
      }
    }

    .central {
      align-content: stretch;
      display: flex;
      flex: 1;
      min-height: 18rem;

      .logo {
        align-items: center;
        display: flex;
        margin-right: auto;

        img {
          max-height: 14rem;
        }
      }

      .header-content {
        flex: 1;
      }

      .arms {
        align-items: center;
        background: none;
        display: flex;
        flex: 0 0 12rem;
        justify-content: center;
        margin: .8rem 1.3rem;
        overflow: hidden;

        img {
          filter: drop-shadow(0 0 2rem $background-header-transparent) saturate(50%);
          opacity: .75;
          max-height: 100%;
          max-width: 100%;
        }
      }
    }

    .region-and-search {
      align-items: center;
      display: flex;
      flex: none;
      flex-wrap: wrap;
      padding: 0 1.6rem;

      form {
        align-items: center;
        display: flex;
        flex: none;
        height: 4rem;
        margin: 0 0 0 auto;
        padding: 0 .4rem;

        > div {
          input[type=text] {
            background: #fff image_url('comunit/base/icons/search.svg') no-repeat center right / 2.4rem 2.4rem;
            border-radius: 1.4rem;
            box-sizing: border-box;
            box-shadow: 0 0 .5rem .5rem rgba(255, 255, 255, .5);
            display: inline-block;
            font-size: var(--font-size-normal);
            height: 2.8rem;
            line-height: 2.4rem;
            margin: 0 .4rem;
            opacity: .85;
            transition: .125s;
            width: 2.8rem;

            &:hover {
              opacity: 1;
            }

            &:focus,
            &:valid {
              border-radius: 0;
              box-shadow: none;
              opacity: 1;
              padding: 0 2.6rem 0 0;
              width: calc(25ch + 2.6rem);
            }
          }
        }
      }
    }
  }
}
