@import "comunit/base/default";

#main {
  align-items: flex-start;
  background: var(--background-main);
  display: grid;
  grid-gap: var(--spacer-xs);
  grid-template-columns: 3fr 1fr;
  grid-template-rows: auto;

  .content {
    max-width: calc(var(--content-width) - var(--content-width) / 4 - var(--spacer-xs));
    width: 100%;
  }
}

@media (max-width: $content-width) {
  #main {
    .content {
      max-width: calc(75vw - var(--spacer-xs));
    }
  }
}

@media (max-width: 960px) {
  #main {
    display: block;

    .content {
      max-width: 100%;
    }
  }
}

.breadcrumbs {
  border-bottom: var(--border-secondary);
  margin-bottom: var(--spacer-xs);
  padding: var(--spacer-xs) var(--spacer-xxs);
}

article {
  .content-wrapper {
    padding: var(--spacer-xxs);
  }
}