@import "comunit/base/default";

#sidebar {
  h3 {
    background: var(--section-header-bg);
    color: var(--section-header-color);
    font-size: var(--font-size-large);
    font-weight: 400;
    padding: var(--spacer-xxs);
  }
}

@media (max-width: 960px) {
  #sidebar {
    display: grid;
    grid-gap: var(--spacer-xs);
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    margin-top: var(--spacer-m);
  }
}

@media (max-width: 720px) {
  #sidebar {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 540px) {
  #sidebar {
    grid-template-columns: 1fr;
    margin-left: auto;
    margin-right: auto;
    max-width: 48rem;
  }
}

.sidebar-regions {
  figure {
    padding: var(--spacer-xs);
  }

  img {
    width: 100%;
  }
}

@import "comunit/base/themes/default/sidebar/posts";
@import "comunit/base/themes/default/sidebar/polls";
