<% if collection.any? %>
  <ul class="flares">
    <% collection.each do |political_force| %>
      <li class="flare-<%= political_force.slug %>">
        <%= political_force.flare %>
      </li>
    <% end %>
  </ul>
<% end %>
