<div>
  <%= link_to t('admin.posts.index.heading'), admin_posts_path %>
</div>
<div class="description">
  <%= t('admin.posts.index.description') %>
</div>
<ul class="actions">
  <li><%= create_icon(new_post_path) %></li>
</ul>
