<div class="image">
  <%= album_image_preview(entity) %>
</div>
<div class="data">
  <div><%= admin_photo_link(entity) %></div>

  <ul class="actions">
    <li>
      <%= edit_icon(edit_photo_path(id: entity.id)) %>
    </li>
    <%= render partial: 'shared/actions/priority_changer', locals: { path: priority_admin_photo_path(id: entity.id) } %>
  </ul>
</div>
