<footer>
  <div class="navigation">
    <%# render 'layouts/application/main_navigation' %>
  </div>
  <div class="bottom">
    &copy; <%= t(:copyright) %>
    <div>
      <%= link_to(t('about.tos.heading'), tos_path) %><br/>
      <% if BiovisionComponent.administrative?(current_user) %>
        <%= link_to(t('admin.index.index.heading'), admin_path) %>
      <% end %>
    </div>
  </div>
</footer>
