<%
  component = BiovisionComponent[Biovision::Components::ContactComponent.slug]
  email = component&.get('contact_email').to_s
%>
<footer class="main-footer">
  <div class="content-wrapper">
    <div class="copyright">&copy; <%= t(:copyright) %></div>
    <nav>
      <%= link_to(t('about.tos.heading'), tos_path) %><br/>
      <% if BiovisionComponent.administrative?(current_user) %>
        <%= link_to(t('admin.index.index.heading'), admin_path) %>
      <% end %>
    </nav>
    <div class="contact">
      <%= link_to(email, "mailto:#{email}") unless email.blank? %>
    </div>
  </div>
</footer>
