<% if collection.any? %>
    <ul class="list-of-entities">
      <% collection.each do |theme| %>
          <li>
            <%= render partial: 'admin/themes/entity/in_list', locals: { theme: theme } %>
          </li>
      <% end %>
    </ul>
<% else %>
    <%= render 'shared/nothing_found' %>
<% end %>
