<div class="data">
  <div><%= admin_entity_link(entity) %></div>
  <div class="info"><%= entity.slug %></div>

  <%= render(partial: 'shared/admin/toggle', locals: { entity: entity }) %>

  <ul class="actions">
    <%= render(partial: 'shared/admin/priority', locals: { entity: entity }) %>
  </ul>
</div>
