<% TaxonType.active.list_for_administration.each do |taxon_type| %>
  <% taxon_ids = taxon_type.taxon_ids_for_post_group(post_group) %>
  <details <%= taxon_ids.any? ? 'open' : '' %>>
    <summary><%= taxon_type.name %> (<%= taxon_ids.count %>)</summary>
    <ul class="entity-taxon-list entity-links">
      <% taxon_type.taxa.for_tree.each do |taxon| %>
        <li>
          <%=
            render(
                partial: 'admin/post_groups/entity/taxonomy/taxon',
                locals: {
                    taxon: taxon,
                    post_group: post_group,
                    taxon_ids: taxon_ids
                }
            )
          %>
        </li>
      <% end %>
    </ul>
  </details>
<% end %>
