<% content_for :meta_title, t('.title') %>
<% content_for :hide_sidebar, '1' %>

<article class="entity-page">
  <h1><%= t('.title') %></h1>

  <% unless @entity.album.nil? %>
      <ul class="actions">
        <li><%= return_icon(photos_admin_album_path(id: @entity.album_id)) %></li>
      </ul>
  <% end %>

  <%= render partial: 'form', locals: { entity: @entity } %>
</article>
