<% content_for :meta_title, t('.title', album_name: @entity.album.name, name: @entity.name) %>

<article class="photo">
  <h1><%= @entity.name %></h1>

  <ul class="actions">
    <li><%= return_icon(album_path(@entity.album_id)) %></li>
  </ul>

  <figure>
    <%= album_image_medium(@entity) %>
  </figure>

  <div class="description">
    <%= simple_format(@entity.description) %>
  </div>
</article>
