@import "comunit/base/default";

.my-post-form {
  padding: var(--spacer-xxs);

  .fields {
    > div {
      margin: 0 0 var(--spacer-xs) 0;
      padding: var(--spacer-xs) 0;
    }
  }

  dt {
    font-family: var(--font-family-heading);
    font-size: var(--font-size-increased);
  }

  dd {
    margin: 0;
  }

  input:not([type=checkbox]):not([type=radio]),
  textarea {
    margin: 0;
    padding: var(--spacer-xxs) var(--spacer-xs);
    width: 100%;
  }

  input[type=datetime-local] {
    width: 19ch;
  }
}
