@import "comunit/base/default";

.posts-preview {
  display: flex;
  flex-wrap: wrap;
  margin: .8rem auto;
  padding: 0;

  li {
    box-shadow: 0 0 .2rem rgba(0, 0, 0, .25);
    display: flex;
    flex-direction: column;
    list-style: none;
    margin: .4rem auto 1.6rem;
    min-width: 31rem;
    padding: 0;
    position: relative;
    width: 31%;
  }

  .category {
    background: $category-background;
    color: $category-color;
    margin: auto 0 0 0;

    > div {
      align-items: center;
      display: flex;
      flex-wrap: wrap;
      padding: .4rem;

      time {
        color: #444;
        font-size: 1.2rem;
        font-weight: 300;
        margin: 0 0 0 auto;
        text-align: right;
      }
    }
  }

  .region {
    color: #444;
    font-size: 1.2rem;
    font-weight: 300;
    width: 100%;
  }

  .footer {
    align-items: center;
    display: flex;
    height: 2.8rem;
    padding: .4rem;
  }

  .author {
    align-items: center;
    display: flex;
    font-size: 1.3rem;

    img {
      border-radius: .4rem;
      margin: 0 .4rem 0 0;
      max-height: 2rem;
      max-width: 2rem;
    }
  }

  .post-counters {
    align-items: center;
    display: flex;
    margin: 0 0 0 auto;
  }

  figure {
    position: relative;

    div {
      background: linear-gradient(to top, #fee, rgba(255, 255, 240, 0));
      overflow: hidden;
    }

    img {
      height: 100%;
      object-fit: cover;
      width: 100%;
    }
  }

  figcaption {
    -webkit-backdrop-filter: blur(.2rem);
    backdrop-filter: blur(.2rem);
    font-size: $font-size-increased;
    font-weight: 500;
    padding: .4rem;
    text-transform: uppercase;
  }

  .body {
    .lead {
      color: #777;
      font-size: 1.3rem;
      padding: .5rem;
    }
  }
}
