<% unless entity.post_category.blank? %>
  <%
    category = entity.post_category
    handler = PostManager.new(category)
  %>
  <% entity.post_category.parents.each do |parent| %>
    <%= link_to(parent.name, PostManager.new(parent).category_path) %>
  <% end %>
  <%= link_to(category.name, handler.category_path) %>
<% end %>
<span><%= entity.title %></span>
