<% if collection.any? %>
  <ul class="posts-preview">
    <% collection.each do |entity| %>
      <li>
        <%= render partial: 'posts/preview', locals: { entity: entity } %>
      </li>
    <% end %>
  </ul>
<% else %>
  <%= render 'shared/nothing_found' %>
<% end %>
