<% if collection.any? %>
    <ul class="list-of-entities">
      <% collection.each do |region| %>
          <li>
            <%= render partial: 'admin/regions/entity/in_list', locals: { region: region } %>
          </li>
      <% end %>
    </ul>
<% else %>
    <%= render 'shared/nothing_found' %>
<% end %>
