<div id="news-regions-selector">
  <button type="button" data-url="<%= regions_admin_news_index_path %>">Выбрать регион…</button>
</div>
<script>
    'use strict';

    $(function () {
        let $div = $('#news-regions-selector');

        $div.on('click', 'button', function () {
            let $button = $(this);

            $.get($(this).data('url'), function(response) {
                if (response.hasOwnProperty('data')) {
                    let $list = $('<ul>');

                    $(response['data']).each(function (i, e) {
                        if (e.hasOwnProperty('meta')) {
                            $list.append($(e['meta']['html_chunk']));
                        }
                    });

                    $button.parent().append($list);
                    $button.remove();
                }
            }).fail(handle_ajax_failure);
        });
    });
</script>