<ul class="theme-categories">
  <% categories.each do |category| %>
      <li>
        <div>
          <% field_id = "theme_post_category_#{category.id}" %>
          <% change_url = post_category_api_theme_path(id: theme.id, category_id: category.id) %>
          <%= check_box_tag field_id, 1, ids.include?(category.id), data: { url: change_url } %>
          <%= label_tag field_id, category.name %>
        </div>
        <%# if category.child_categories.any? %>
            <%#= render partial: 'admin/themes/entity/post_categories', locals: { categories: PostCategory.for_tree(category.id), ids: ids, theme: theme } %>
        <%# end %>
      </li>
  <% end %>
</ul>
