<% if entries[:next].is_a?(Entry) || entries[:prev].is_a?(Entry) %>
    <nav class="adjacent">
      <ul>
        <li>
          <% unless entries[:prev].blank? %>
              <span><%= admin_entry_link entries[:prev] %></span>
          <% end %>
        </li>
        <li>
          <% unless entries[:next].blank? %>
              <span><%= admin_entry_link entries[:next] %></span>
          <% end %>
        </li>
      </ul>
    </nav>
<% end %>
