<div>
  <%= link_to t('admin.entries.index.heading'), admin_entries_path %>
</div>
<div class="description">
  <%= t('admin.entries.index.description') %>
</div>
<% if current_user.verified? %>
    <ul class="actions">
      <li><%= create_icon(new_entry_path) %></li>
    </ul>
<% end %>
