<div>
  <% unless items.blank? %>
      <% items.each do |item| %>
          <div><%= time_tag item.created_at %></div>
          <% unless item.image.blank? %>
              <div class="image"><%= news_link item, image_tag(item.image.preview.url, alt: item.title) %></div>
          <% end %>
          <div class="link"><%= news_link item %></div>
      <% end %>
  <% end %>
</div>
