<section>
  <h2><%= t('.heading') %></h2>

  <%= render partial: 'admin/event_programs/list', locals: { collection: collection } %>

  <label for="new-program-toggle" class="button-nav">
    <%= t('event_programs.new.heading') %>
  </label>

  <input type="checkbox" id="new-program-toggle" class="toggle-box"/>
  <div>
    <%= render partial: 'event_programs/form', locals: { entity: event.event_programs.new } %>
  </div>
</section>