<section>
  <h2><%= t('.heading') %></h2>

  <%= render partial: 'admin/event_speakers/list', locals: { collection: collection } %>

  <label for="new-speaker-toggle" class="button button-ghost">
    <%= t('event_speakers.new.heading') %>
  </label>

  <input type="checkbox" id="new-speaker-toggle" class="toggle-box"/>
  <div>
    <%= render partial: 'event_speakers/form', locals: { entity: event.event_speakers.new } %>
  </div>
</section>