<% content_for :meta_title, t('.title') %>

<article class="entity-page">
  <h1><%= t('.heading') %></h1>

  <ul class="actions">
    <li><%= back_icon participants_admin_event_path(id: @entity.event_id) %></li>
    <li class="danger"><%= destroy_icon @entity %></li>
  </ul>

  <%= render partial: 'form', locals: { entity: @entity } %>
</article>
