<% content_for :meta_title, t('.title') %>

<article class="entity-page">
  <h1><%= t('.title') %></h1>

  <% unless @entity.event_id.nil? %>
      <ul class="actions">
        <li><%= back_icon event_path(id: @entity.event_id) %></li>
      </ul>
  <% end %>

  <%= render partial: 'form', locals: { entity: @entity } %>
</article>
