@import "comunit/base/default";
@import "comunit/base/vars";

* { outline: solid pink 1px; }

html {
  background: var(--background-html);
}

body {
  background: var(--background-body);
  border-radius: var(--spacer-xxs);
  box-shadow: var(--block-shadow);
  margin: var(--spacer-xs) auto;
  max-width: $content-width;
  min-width: 32rem;
}

@media (max-width: 1100px) {
  body {
    box-shadow: none;
    margin: 0;
  }
}

@import "biovision/base/components/hamburger";
@import "biovision/base/components/carousel";
@import "comunit/base/components/calendar";
@import "comunit/base/components/carousel";
@import "comunit/base/components/posts";
@import "comunit/base/themes/default/header";
@import "comunit/base/themes/default/main";
@import "comunit/base/themes/default/frontpage";
@import "comunit/base/themes/default/sidebar";
